.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

.inf-block {
    margin-top: 40px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 8px;
    border-color: #C5C5C5;
    display: block;
}

#main_label{
    font-size: 20px;
    margin: 10px;
    color: #9A9A9A;
}

#phone_number{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20%;
    color: #9A9A9A;
}