.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

#search_block {
    float: right;
}

#title_user {
    text-align: center;
    color: #EB0F80;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

#addNewUserModal h4{
    font-weight: bold;
}

.profile_label{
    font-size: 18px;
    width: 15%;
    font-style: italic;
    padding: 10px;
}

.user_field{
    background-color: #FFFFFF;
    margin: 5px;
    font-size: 15px;
    margin-left: 30%;
    width: 200px;
    color: #000000;
}

#users > tr {
    cursor:pointer;
}

#users > tr:hover{
    background-color: #dfcbd3;
}

tr.selected {
    background-color: #dfcbd3;
}

#addNewUserModal{
    font-size: 22px;
    color: #EB0F80;
}

#addNewUserModal h4{
    font-weight: bold;
}

.profile_label{
    font-size: 18px;
    width: 15%;
    font-style: italic;
    padding: 10px;
}

.user_field{
    background-color: #FFFFFF;
    font-size: 15px;
    margin: 5px 5px 5px 30%;
    width: 200px;
    color: #000000;
}

.datepicker {
    z-index: 9999;
}

#error_block {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.33);
    z-index: 99998;
}

#error_message {
    display: inline-block;
    top : 50%;
    text-align: left;
    z-index: 99999;
}