.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

.ask_specialist_label {
    margin-top: 20px;
    margin-left: -120px;
    font-size: 20px;
    font-weight: bold;
    color: #EB0F80;
}

#spec_textarea {
    border-color: #EB0F80;
    border-radius: 8px;
    resize: none;
}

#send_button{
    background-color: #EB0F80;
    width: 100px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}