.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

#contracts_selection{
    border: 1px dotted #878787;
    border-radius: 8px;
    color: #E71A85;
    font-size: 22px;
    padding: 22px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.characteristic_field{
    width: 220px;
    margin-top: 5px;
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-left: 15%;
    color: #EB0F80;
}

.bucket-button {
    width: 100px;
}

#contract_info_block {
    margin: 20px 0;
    padding:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

#changed_tariff_block{
    width: 30%;
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    color: #E71A85;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}

#added_options_block{
    width: 30%;
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    color: #E71A85;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}

#deleted_options_block{
    width: 30%;
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    color: #E71A85;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}