.navbar-default{
    background-color: #494949;
}

.navbar-nav{
    margin-left: 25%;
    width:60%;
}

.navbar-nav > li{
    width: 20%;
}

body {

}

#logo {
    margin: 10px 0;
}

.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #949494;
    color: #FFFAFE;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFAFE;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FFFAFE;
    background-color: #949494;
    font-weight: bold;
}

#logout{
    position: absolute;
    top: 30%;
    right: 2%;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
}


.container-fluid .navbar-brand > a:hover {
    color: #FFFAFE;
}

#logo_image{
    margin-left: 20px;
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

#bucket_image{
    width: 43px;
    height: 37px;
}

#block_bucket {
    float: right;
    display: inline;
    margin-top: 6px;
}

#welcome_label{
    color: #EB0F80;
    margin-left: 30%;
    margin-top: 10px;
    position:relative;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    float: left;
}

.footer{
    border-radius: 8px;
    border: 2px groove #CACACA;
    height: 80px;
}


#logo-img{
    margin-top: 5px;
    margin-left: 5px;
}

.label_footer{
    color: #333333;
    font-size: 10px;
    margin-left: 5px;
    float: left;
}

#create_label{
    color: #333333;
    font-size: 10px;
    margin-left: 88%;
}

hr {
    color: #FFFFFF;
    background-color:#FFFFFF;
    border:0 none;
    height:1px;
    clear:both;
}
