#bucket_block_remove{
    display: none;
}
.popover {
    max-width: 800px;
    width: auto;
}

#contracts_selection_bucket{
    border: 1px dotted #878787;
    border-radius: 8px;
    color: #E71A85;
    font-size: 22px;
    padding: 22px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.characteristic_field_bucket{
    width: 220px;
    margin-top: 5px;
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-left: 15%;
    color: #EB0F80;
}

.block_popover_bucket{
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    color: #E71A85;
    padding: 5px;
    display: inline-block;
    width: 100%;
}

#contracts_card {
    width: 70%;
    display: inline-block;
}
