#personal_data{
    width: 50%;
    float: left;
}

#profile {
    margin-left: 200px;
    width: 60%;
}

#user_image {
    position:absolute;
    float:left;
    margin-left: 5px;
}

h2{
    color: #494949;
    font-size: 25px;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.profile_label{
    color: #4D4D4D;
    font-size: 16px;
    width: 10%;
    font-style: italic;
}

.user_field{
    background-color: #FFFFFF;
    color: #4D4D4D;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-left: 30%;
}


#myCarousel{
    float: left;
    width: 100%;
    height: 100%;
}

.data {
    white-space:nowrap;
}

.data div {
    display: inline-block;
}

.shadow_block {
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}