.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

#tariffsTable{
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    float:left;
}

#tariffsTable label, #big_options_block label{
    padding: 5px;
    color: #E71A85;
    font-size: 20px;
    font-style: italic;
}

.buttons_block{
    margin-left: 57%;
}

.universalButton{
    width: 100px;
}

#tariffs> tr:hover, #options > tr:hover,#compatible_options > tr:hover,#incompatible_options > tr:hover,
#add_compatible_options > tr:hover,
#add_incompatible_options > tr:hover{
    background-color: #dfcbd3;
}

tr.selected {
    background-color: #dfcbd3;
}

#optionsTable label, #add_options_block label, #block_compatible_options label, #block_incompatible_options label {
    color: #E71A85;
    font-size: 14px;
}

#optionsTable{
    width: 60%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    float:left;
}

#add_options_block{
    float: right;
    width: 38%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
}

.characteristic_label{
    color: #E71A85;
    margin-top: 5px;
    font-size: 14px;
    width: 8%;
    font-style: italic;
}

.characteristic_field{
    width: 130px;
    margin-top: 5px;
    padding: 5px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: bold;
    border: none;
    margin-left: 15%;
    color: #EB0F80;
}

#add_option_button{
    margin-top: 10px;
}

#big_options_block{
    width: 48%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    float:right;
}

#rules_for_options{
    width: 100%;
    padding: 5px;
}

#block_compatible_options{
    width: 49%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    float:left;
}

#block_incompatible_options{
    width: 49%;
    text-align: center;
    padding: 10px;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    float:right;
}

.buttons_block_options{
    margin-left: 40%;
}

#addNewTariffModal, #addNewCompatibleOptionModal, #addNewIncompatibleOptionModal {
    color: #E71A85;
}

#addNewTariffModal h4, #addNewCompatibleOptionModal h4, #addNewIncompatibleOptionModal h4 {
    font-size: 22px;
    font-weight: bold;
}

#addNewTariffModal label, #addNewCompatibleOptionModal label, #addNewIncompatibleOptionModal label{
    font-size: 16px;
}

#addNewTariffModal input {
    width: 200px!important;
}

#modal-content-tariff{
    width: 300px;
}

.characteristic_options_label{
    padding-top: 5px;
    padding-left: 70px;
    padding-right: 40px;
}

#modal-content-compat-option, #modal-content-incompat-option{
    width: 500px;
}


.inactive button {
    background-color: #b6b6b6!important;
    border-color: #e4e4e4!important;
}

.inactive table th, .inactive div > label{
    color: #b6b6b6!important;
}

.inactive div {
    border-color: #b6b6b6!important;
}

div.inactive  {
    border-color: #b6b6b6!important;
}

#error_block {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.33);
    z-index: 99998;
}

#error_message {
    display: inline-block;
    top : 50%;
    text-align: left;
    z-index: 99999;
}

.no-options {
    text-align: center;
    background-color: #fff!important;
}



