.main_block {
    margin: 0 auto;
    width: 1250px;
    text-align: left;
}

.tariff_label{
    color: #E71A85;
    font-size: 20px;
    width: 10%;
    font-style: italic;
}

.characteristic_label{
    color: #E71A85;
    margin-top: 5px;
    font-size: 16px;
    width: 8%;
    font-style: italic;
}

#modal_characteristic_label{
    margin-left: 27%;
    font-size: 18px;
}

#modal_characteristic_field{
    font-size: 18px;
    background-color: #ffffff;
}

.characteristic_field{
    width: 220px;
    margin-top: 5px;
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-left: 15%;
    color: #EB0F80;
}

.contract-button {
    margin-top: 10px;
    width: 100px;
}

#saveButton{
    float: right;
    margin: auto;
}

#add_button{
    margin-left:45%;
}

#options_table{
    color: #000000;
}

#contracts_selection{
    border: 1px dotted #878787;
    border-radius: 8px;
    color: #E71A85;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    padding: 22px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}




#tariff_block{
    width: 40%;
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    color: #E71A85;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}

#options_block{
    width: 40%;
    text-align:center;
    border: 1px dotted #E71A85;
    border-radius: 5px;
    padding: 15px;
    color: #EB0F80;
    display: inline-block;
    margin-left: 18%;
}

#contract_info_block {
    margin: 20px 0;
    padding:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.list-group-item {
    text-align: center;
}

#selected_options > tr:hover, #options_list > li:hover {
    background-color: #f5f5f5;
}

#selected_options > tr.highlighted, #options_list > li.highlighted {
    background-color: #E71A85;
}

#change_button{
    margin-left: 12%;
}

.strong {
    font-weight: bold;
}

#options_list .list-group-item.disabled,#options_list .list-group-item.disabled:hover,
#options_list.list-group-item.disabled:focus {
    color: #777;
    background-color: #eee;
}

.compatible {
    background-color: #eeedd3;
}

.incompatible {
    background-color: #ee9592;
}

#error_block, #info_block {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.33);
    z-index: 99998;
}

#error_message, #info_message {
    display: inline-block;
    top : 50%;
    text-align: left;
    z-index: 99999;
}

.switch {
    height: 83px;
    width: 234px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -51px;
    margin-left: -117px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #d1d1d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D1D1', endColorstr='#FFFEFBF7');
    background-image: -moz-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
    background-image: -webkit-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
    background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);
}
.switch:after {
    height: 70px;
    width: 220px;
    position: absolute;
    top: 7px;
    left: 7px;
    content: '';
    z-index: 2;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #a5a5a5;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA5A5A5', endColorstr='#FFE8D7BE');
    background-image: -moz-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
    background-image: -webkit-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
    background-image: linear-gradient(to bottom, #a5a5a5 0%, #e8d7be 100%);
}

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
    height: 32px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 23px; margin: 4.5px;
    background: #dc0011;
    border: 1px solid #818181; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 34px;
    -moz-transition: all 0.1s ease-in 0s; -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s; transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #AFCA27;
}

#switch_block {
    height: 32px;
    float: left;
}

#is_blocked {
    float: left;
    color: #dc000d;
    width: 0;
    margin-left: 5px;
}

#contracts_label {
    display: inline-block;
}

.contract-label{
    font-size: 18px;
    font-style: italic;
    padding: 10px;
    color: #E71A85;
}

.contract-field{
    background-color: #FFFFFF;
    font-size: 15px;
    margin: 5px 5px 5px 30%;
    width: 200px;
    color: #000000;
}
